h1 {
    background-color: rgb(137, 132, 132);
    color: rgb(253, 167, 68);
    font-size: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
}

h2 {
    background-color: rgb(253, 167, 68);
    color: rgb(137, 132, 132);
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

ul {
    background-color: rgb(137, 132, 132);
    color: rgb(253, 167, 68);
    font-size: 20px;
    font-family: cursive;
}
li {
    color: rgb(255, 242, 242);
}